POSTGRES_USER=smail_user
POSTGRES_PASSWORD=12345678
POSTGRES_DBNAME=smail_db

#
# MinIO configuration
#

# a.k.a. MINIO_ROOT_USER, should be at least 3 character length
MINIO_ACCESS_KEY=minio_user

# a.k.a. MINIO_ROOT_PASSWORD, should be at least 3 character length
MINIO_SECRET_KEY=minio_password

#
# Grafana
#
GRAFANA_PASSWORD=12345678

# Security
MASTER_KEY=32_BYTE_KEY # Use openssl rand -base64 32
